.files_search{
    position:fixed;
    width:300px;
    top:100px;
    right:30px;
    height:30px;
    overflow: hidden;

}

@media(max-width:640px){
    .files_search{
        top : 89%;
        width: 200px;
    }
}
