.file{
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.filename{
    font-size: 16px;
}

.filedate{
    font-size: 10px;
}

.outer_file_btn_div{
    display: flex;
}

@media(max-width:1024px){
    .outer_file_btn_div{
        flex-direction: column;
    }
}