.files_search{
    position:fixed;
    width:300px;
    top:100px;
    right:30px;
    height:30px;
    overflow: hidden;

}

.inner_files{
    height: 65vh;
    overflow-y: scroll;
}

@media(max-width:640px){
    .files_search{
        top : 89%;
        width: 200px;
    }
    .inner_files{
        height: 60vh;
    }
}

.inner_files::-webkit-scrollbar{
    display: none;
}
