*{
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
}

.mynavbar{
    padding: 15px;
    height: 75px;
}

.mybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0px 2px;
}

.myform:focus{
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: var(--greyish);
    outline: none;
}

.myform{
    outline: none !important;
}

.footer{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.logout:hover{
    cursor: pointer;
}

.active{
    /* background-color: rgb(34, 34, 34); */
    border-radius: 10px;
}

/* for all labels */
.label{
    margin-bottom: 5px;
}

/* spinner */

.spin_div{
    animation: spin 0.5s ease infinite; 
    height: 150px;
    width: 150px;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
     25%{
        transform: rotate(90deg);
    }
     50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg); 
    }
     100%{
        transform: rotate(360deg);
    }
}