*{
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
}

.mynavbar{
    padding: 15px;
    height: 75px;
}

.mybtn{
    width : 100px;
    text-align: center;
}

.myform:focus{
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: var(--greyish);
    outline: none;
}

.myform{
    outline: none !important;
}

.footer{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;

}

.logout:hover{
    cursor: pointer;
}

.active{
    /* background-color: rgb(34, 34, 34); */
    border-radius: 10px;
}

/* for all labels */
.label{
    margin-bottom: 5px;
}