:root{
    --txtclr : #E6E6F2;
}

.nav_bar{
    height: 75px;
    width: 100%;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 99;
}

.nav_logo a{
    color: var(--txtclr);
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
}

.pdf{
    padding-right: 10px;
    animation: animate 1s linear infinite alternate;
    color: var(--txtclr); 
}

@keyframes animate{
    from{
        transform: translateY(3px);
    }
    to{
        transform: translateY(-3px);
    }
}

.list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    list-style: none;
    margin-bottom: 0px !important;
}

.list a{
    text-decoration: none;
    font-weight: 500;
    padding: 7px;
    color: var(--txtclr);
}

.list a.active{
    border-top: 1px solid var(--txtclr);
    border-bottom: 1px solid var(--txtclr);
}

.nav_link{
    position: relative;
    margin: 0px 5px;
}

.menu_logo, .menu_cancel{
    display: none;
}

@media(max-width: 1075px ){
    .nav_bar{
        padding: 0px 60px;
    }
}

@media(max-width: 951px){
    .nav_bar{
        padding: 0px 20px;
    }

    .nav_logo{
        flex: 1;
        text-align: center;
    }

    .list{
        /* top: 75px; */
        height: 100vh;
        width: 100%;
        background: #121212;
        z-index: 99;
        position: fixed;
        top: -100%;
        left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 0px 0px 0px;
        transition: 0.3s ease-in-out;
        overflow: scroll;
    }

    .list li{
        /* line-height: 10px; */
        margin: 20px 0px;
    }

    .list a{
       font-size: 15px;
    }

    .menu_logo{
        display: inline;
    }

}

.list.activeList{
    top: 75px;
}

.menu_logo:hover ,.nav_logo:hover{
    cursor: pointer;
}
